@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Rio de Janeiro<br />
    Brazil<br />
    <abbr title="Phone">P:</abbr>
    +5521987070940
</address>

<address>
    <strong>mail me:</strong>   <a href="mailto:domingosdepaola@gmail.com">domingosdepaola@gmail.com</a><br />
</address>